@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@550;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=RocknRoll+One&display=swap');

html,body
{
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}



#title{
    background-color: #ff4c68;
    position: relative;
    z-index: 1;

}

h1{
    font-family: 'Montserrat', sans-serif;
    font-size: 3rem;
    line-height:1.5; 
    
}

h2{
    font-family: 'Roboto', sans-serif;   
    font-size: 1.5rem;
}

.navbar-brand{
    font-family: 'RocknRoll One', sans-serif;
}


#features-1{
    padding: 7% 15%;
    text-align: center;
    font-size: 1.3rem;
    font-family: 'Poppins',sans-serif;
    line-height: 2;
    background-color: #fff;
    
}   

.icon{
    color:#ef8172;
    margin-bottom: 1rem;
}

.icon:hover{
    color:#ff4c68;
}

#testimonials{
    background-color:#ef8172;
    
}

#title-img{
    position:relative;
    z-index: -1;
}

.testimonials-h3{
color:#fff;
font-family: 'Montserrat';
text-align: center;
font-size: 3rem;

}

.testimonials-icon{

    border-radius: 100%;

  
}

.carousel-item{
    padding: 7% 15%;
}

.testimonials-em{
    color:#fff;
font-family: 'Poppins';
font-size: 2rem;

}

.press-logo{
    width: 30%;
    background-color: #ef8172;
    color: #ef8172;
}

footer{
    background-color: #ff4c68;
}  


.fot-abt{
    background-color: #fff;
    
}







/* Media Section*/

 /* Phones size */
@media screen and (max-width:767px){
    #testimonials{
        display: none;
    }
    
.fot-abt{
    padding: 7% 1%;
}    
}

/* Ipad/Tablet Size */
@media screen  and (max-width:991px) {

footer{
    padding: 7% 7%;
}

.fot-btn{
    margin: 0 0 0 7%;
}

.fot-abt{
    text-align: center;
    padding: 7% 15%;
}

}


/* Desktop Size */
@media screen and (max-width:1199px){
footer{
    padding: 4% 7%;
}
.fot-btn{
    margin: 0 0 0 1%;
}

.fot-abt{
    text-align: center;
    padding: 7% 15%;
}

}




/* Laptop Size */
@media screen and (min-width:1200px){
    footer{
        background-color: #ff4c68;
        padding: 6% 14%;
    
    }

    .fot-btn{
margin: 3% 0 0 19%;
}
.fot-abt{
 padding: 5% 0 3% 44%;
}
}


























